:root {
  --vp-c-brand-1: #ff7189;
  --vp-c-brand-2: #ff879a;
  --vp-c-brand-3: #ff9eac;
  --vp-c-brand-soft: rgb(255 158 172 / 0.14);
}

:root.dark {
  --vp-c-brand-1: #ffb7c2;
  --vp-c-brand-2: #ff9eac;
  --vp-c-brand-3: #ff879a;
  --vp-c-brand-soft: rgb(255 158 172 / 0.14);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #ff9eac 20%, #5effff);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #ff9eac 35%, #5effff);
  --vp-home-hero-image-filter: blur(72px);
}

:root.dark {
  --vp-home-hero-name-background: linear-gradient(135deg, #ffb7c2 20%, #9dffff);
  --vp-home-hero-image-background-image: linear-gradient(135deg, #ffb7c2 35%, #9dffff);
}


.VPHero .image-bg {
  @apply opacity-80 z-1;
}

@apply keyframes-pulse;

.VPFeatures {
  .VPFeature {
    @apply transition-border-color,background-color,opacity,transform transition-duration-800;
  }

  .item:nth-child(1) .VPFeature {
    @apply @hover:opacity-30;
  }

  .item:nth-child(2) .VPFeature {
    @apply @hover:scale-130;
  }

  .item:nth-child(3) .VPFeature {
    @apply @hover:rotate-30;
  }

  .item:nth-child(4) .VPFeature {
    @apply @hover:-translate-y-30%;
  }

  .item:nth-child(5) .VPFeature {
    @apply @hover:(opacity-50 scale-130 rotate-30 -translate-y-30% translate-x-50%);
  }
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/**
 * Component: Docs
 */
.vp-doc a {
  @apply decoration-dotted;
}

.custom-block a:focus,.custom-block a:active,.custom-block a:hover,.vp-doc a:focus,.vp-doc a:active,.vp-doc a:hover {
  @apply decoration-solid;
}
